body {
    padding-top: 70px;
}


.breadcrumb-header {
    margin: 0px;
    padding: 0px;
}


.file-content {
    max-height: 350px;
    overflow: auto;
    padding: 0px;
}

.search-result {
    max-height: 500px;
    overflow: auto;
    padding: 0px;
}


.lines code {
    white-space: pre;
}

.lines {
    overflow-x: auto;
    overflow-y: hidden;
}

.line-row {
    border-right: 1px solid;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.line-row, .line-content {
    padding-left: 10px;
    padding-right: 10px;
}


.lines, .lines code { background: #f8f8f8; color: #333333; }
.line-row, .line-row code { background: #eeeeee; }
.line-row { border-color: #cccccc; }
.lines .hll { background-color: #ffffcc }
.lines .c   { color: #408080; font-style: italic } /* Comment */
.lines .err { border: 1px solid #FF0000 } /* Error */
.lines .k   { color: #008000; font-weight: bold } /* Keyword */
.lines .o   { color: #666666 } /* Operator */
.lines .cm  { color: #408080; font-style: italic } /* Comment.Multiline */
.lines .cp  { color: #BC7A00 } /* Comment.Preproc */
.lines .c1  { color: #408080; font-style: italic } /* Comment.Single */
.lines .cs  { color: #408080; font-style: italic } /* Comment.Special */
.lines .gd  { color: #A00000 } /* Generic.Deleted */
.lines .ge  { font-style: italic } /* Generic.Emph */
.lines .gr  { color: #FF0000 } /* Generic.Error */
.lines .gh  { color: #000080; font-weight: bold } /* Generic.Heading */
.lines .gi  { color: #00A000 } /* Generic.Inserted */
.lines .go  { color: #888888 } /* Generic.Output */
.lines .gp  { color: #000080; font-weight: bold } /* Generic.Prompt */
.lines .gs  { font-weight: bold } /* Generic.Strong */
.lines .gu  { color: #800080; font-weight: bold } /* Generic.Subheading */
.lines .gt  { color: #0044DD } /* Generic.Traceback */
.lines .kc  { color: #008000; font-weight: bold } /* Keyword.Constant */
.lines .kd  { color: #008000; font-weight: bold } /* Keyword.Declaration */
.lines .kn  { color: #008000; font-weight: bold } /* Keyword.Namespace */
.lines .kp  { color: #008000 } /* Keyword.Pseudo */
.lines .kr  { color: #008000; font-weight: bold } /* Keyword.Reserved */
.lines .kt  { color: #B00040 } /* Keyword.Type */
.lines .m   { color: #666666 } /* Literal.Number */
.lines .s   { color: #BA2121 } /* Literal.String */
.lines .na  { color: #7D9029 } /* Name.Attribute */
.lines .nb  { color: #008000 } /* Name.Builtin */
.lines .nc  { color: #0000FF; font-weight: bold } /* Name.Class */
.lines .no  { color: #880000 } /* Name.Constant */
.lines .nd  { color: #AA22FF } /* Name.Decorator */
.lines .ni  { color: #999999; font-weight: bold } /* Name.Entity */
.lines .ne  { color: #D2413A; font-weight: bold } /* Name.Exception */
.lines .nf  { color: #0000FF } /* Name.Function */
.lines .nl  { color: #A0A000 } /* Name.Label */
.lines .nn  { color: #0000FF; font-weight: bold } /* Name.Namespace */
.lines .nt  { color: #008000; font-weight: bold } /* Name.Tag */
.lines .nv  { color: #19177C } /* Name.Variable */
.lines .ow  { color: #AA22FF; font-weight: bold } /* Operator.Word */
.lines .w   { color: #bbbbbb } /* Text.Whitespace */
.lines .mf  { color: #666666 } /* Literal.Number.Float */
.lines .mh  { color: #666666 } /* Literal.Number.Hex */
.lines .mi  { color: #666666 } /* Literal.Number.Integer */
.lines .mo  { color: #666666 } /* Literal.Number.Oct */
.lines .sb  { color: #BA2121 } /* Literal.String.Backtick */
.lines .sc  { color: #BA2121 } /* Literal.String.Char */
.lines .sd  { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.lines .s2  { color: #BA2121 } /* Literal.String.Double */
.lines .se  { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.lines .sh  { color: #BA2121 } /* Literal.String.Heredoc */
.lines .si  { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.lines .sx  { color: #008000 } /* Literal.String.Other */
.lines .sr  { color: #BB6688 } /* Literal.String.Regex */
.lines .s1  { color: #BA2121 } /* Literal.String.Single */
.lines .ss  { color: #19177C } /* Literal.String.Symbol */
.lines .bp  { color: #008000 } /* Name.Builtin.Pseudo */
.lines .vc  { color: #19177C } /* Name.Variable.Class */
.lines .vg  { color: #19177C } /* Name.Variable.Global */
.lines .vi  { color: #19177C } /* Name.Variable.Instance */
.lines .il  { color: #666666 } /* Literal.Number.Integer.Long */
