{% extends "codereaderapp/base.html" %}

{% block head %}
  <style type="text/css">
  body {
    margin-top: 20px;
  }
  </style>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="jumbotron">
      <h1>Code Reader</h1>
      <p>It's said that we spend more time <strong>reading</strong> code
      than writing code.</p>
      <p>This site is built particularly for making reading code as
      pleasant as possible. Click on one of the projects below to start
      reading.</p>
    </div>
    <ul class="list-group">
      {% for project in projects %}
      <li class="list-group-item">
      <a href="{% url "codereaderapp:project" project.slug %}">{{ project.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
